<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dropping's Gloryhole</title>
    @Scripts.Render("https://code.jquery.com/jquery-3.3.1.min.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/FormHelper.js")
    @Styles.Render("~/Content/rules.css")
    <style type="text/css">
        body {
            background-color: #E1DBCB !important;
            color: #380202 !important;
        }
        .card-header {
            background-color: #d3d3d3 !important;
        }
        .rule-important {
            font-weight: bold !important;
        }
        .rule-indent {
            text-indent: 30px !important;
        }
        input[type="number"] {
            width: 80px !important;
        }
        .input-group-addon {
            width: 80px !important;
        }
        .decrementBtn, .incrementBtn{
            line-height: 30px !important;
            width: 40px !important;
            font-size: 1.5em !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gloryhole", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Glory Tracker", "Index", "Home")</li>
                    <li>@Html.ActionLink("Rules Reference", "Rules", "Home")</li>
                    <li>@Html.ActionLink("Combat", "Combat", "Home")</li>
                    <li>@Html.ActionLink("Odds", "Odds", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("JavaScript", required: false)
</body>
</html>
